<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- Pest v1 / Collision are not PHP 8.4-clean; suppress E_DEPRECATED to allow test run -->
        <ini name="error_reporting" value="24575"/>
    </php>
</phpunit>
