tr.wm_disabled { color: #ccc; }

.wm_warning { padding:5px; width: 50%; border: 2px red solid; margin: 5px auto 15px auto; background-color: #fee; }

/* Enable horizontal scroll bars */
body {
        height: 100%;
        width: 100%;
        margin: 0px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        overflow-x: scroll;
}
